.home {
  padding: auto; }

  @media only screen and (min-width: 992px) {
    .home {
      padding: 50px; } }

       @media only screen and (min-width: 600px) {
    .home {
      padding: 140px 0; } }

      @media only screen and (min-width: 1200px) {
    .home {
      padding:  auto;
                       } }

.skills, .contact {
  padding: 45px 0; }
  @media only screen and (min-width: 992px) {
    .skills, .contact {
      padding: 90px 0; } }

.social i {
  font-size: 20px; }
.social i.mail {
  color: #000; }

q {
  quotes: "«" "»"; }

a[href^=tel] {
  text-decoration: inherit;
  color: inherit; }

.link-github {
  position: absolute;
  display: inline-block;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.9);
  top: 1em;
  right: 1em;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .link-github:hover, .link-github:focus {
    color:#fff; }

.posts {
  margin-top: 0px; }

.posts li a, footer a {
  color: rgba(255, 255, 255, 0.8);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .posts li a:hover, .posts li a:focus, footer a:hover, footer a:focus {
    color: #fff;
    text-decoration: underline; }

.contact-item {
  display: block;
  color: rgba(255, 255, 255, 0.8); }
  .contact-item > i {
    font-size: 20px;
    margin-right: 5px; }

footer h5 {
  color: rgba(255, 255, 255, 0.8); }
  .reflect{
color: rgba(98,341, 255, 0.8);
  }

.imgback{
background-image:url("C:/Users/Yani Fernandez/Desktop/IN/evalgelistApp/images/de_lake.jpg");
background-repeat: no-repeat;
}
.bg-background{
 background:rgba(96, 125, 139, .4);
 width:auto;
 height: 420px;
}
.daltans{
  color:black;
font-style: helvetica;
  font-weight:500;
  text-shadow:2.5px 2.5px blue;
  
}
.none{
  background:rgba(96, 125, 139, .1);
  box-shadow:none;
}
.nav-floating{
  /*display: inline-block;*/
  /*color: #fff;*/
  position: fixed;
  overflow: hidden;
  z-index: 1;
  /*width: 40px;*/
  /*height: 40px;*/
  /*line-height: 40px;*/
  padding: 0;
  /*background-color: #26a69a;*/
  /*border-radius: 50%;*/
  transition: .3s;
  /*cursor: pointer;*/
  /*vertical-align: middle;*/
}