<style>

.rubriclink {
  color: red;
  cursor: pointer;
}

</style>


<div class="ui main container">
  <div class="ui grid">

    <div class="four wide column">
      <div class="ui vertical fluid tabular menu">
        <a class="item"
        ng-class="{ active: vm.assignmentName === 'General Info' }"
        ng-click="vm.setAssignment()">
        <div class="header">General Info</div>
        </a>
        <a class="item"
        ng-class="{ active: a.name == vm.assignmentName }"
        ng-click="vm.setAssignment(a.id)"
        ng-repeat="a in vm.srv.assignments">
        <div class="header">{{a.hwid ? a.hwid + ". " : ""}}{{a.name}}</div>
        (due {{ vm.srv.getDueDate(a.due, 0, 1) }})</a>
      </div>
    </div>

    <div class="twelve wide stretched column">
      <div class="ui segment">

        <h2 class="ui header">{{ vm.assignmentName }}</h2>
        <div class="ui transition right floated text item" ng-show="vm.assignmentId">
          <em>due</em> {{ vm.srv.getDueDate(vm.assignmentDue, 0, 1) }} {{ vm.getDueTime(vm.assignmentId) }}
          <br/>
          <a target=new_window href="https://webdev-rice.herokuapp.com/">https://webdev-rice.herokuapp.com/</a>
        </div>

        <div class="ui message transition" ng-show="!vm.assignmentId">
          <ul>
            <li>For all assignments you are only permitted to use materials presented 
            in class or by the instructional team through Piazza postings.</li>
            <li>Google can be a resource for you, but do not copy code from the internet 
            and submit it as your own.</li>
            <li>You are not permitted to use third party libraries that have not been 
            expressly covered in class.</li>
            <li>All assignments will be collected by submitting a git URL to a webapp.</li>
            <li>If you do not have a github account, create one for free: <a target=new-window href="https://github.com">https://github.com</a></li>
            <li>Your git repo should contain a top level folder appropriately 
            named for each assignment, i.e., inclass-# or hw#</li>
            <li>Webapp for submissions: <a target=new_window href="https://webdev-rice.herokuapp.com/">https://webdev-rice.herokuapp.com/</a></li>
            <li>The webapp will complain report an error if you do not follow the directory naming guideline, i.e., if you try to submit for inclass-3 but do not have a top level directory inclass-3 in your repo then it will error.</li>
          </ul>

          <h3>Development Resources</h3>
          <ul>
            <li><a href="data/windows.html" target="_blank">Using Windows?  Here are some tips.</a></li>
            <li><a href="data/api.html" target="_blank">Using the Dummy Server</a></li>
            <li><a href="data/heroku.html" target="_blank">Getting Started with Heroku</a></li>
            <li><a href="data/database.html" target="_blank">MongoDB Database Setup</a></li>
          </ul>
        </div>

        <div class="ui message transition" ng-show="vm.assignmentId">Remember to review the
        <span ng-click="vm.scrollTo()" class="rubriclink"><b>Rubric</b></span> before you submit!</div>

        <div class="ui message transition" ng-include="vm.url"></div>

        <a id="rubric"></a>

        <table class="ui selectable inverted celled unstackable striped table" ng-show='vm.showRubric'>
          <thead>
            <tr><th>&nbsp;&nbsp;&nbsp;&nbsp;item</th><th>pts</th></tr>
          </thead>
          <tbody ng-repeat="sec in vm.rubric">
            <tr><th class="rubrichead">{{ sec.section }}</th><th class="right aligned rubrichead">&nbsp;[{{ vm.computeTotalPoints( sec.items )}}]</th></tr>
            <tr ng-repeat="item in sec.items">
               <td>&nbsp;&nbsp;&nbsp;&nbsp;{{item.item}}</td><td class="right aligned">{{item.pts}}</td>
            </tr>
          </tbody>
          <tr><th class="right aligned rubrichead">Total&nbsp;&nbsp;</th>
              <th class="right aligned rubrichead">&nbsp;[{{ vm.getTotalPoints() }}]</th></tr>
        </table>

      </div><!-- end segment -->
    </div><!-- end stretched column -->


  </div>
</div>
